body {
  background-color: #dbedf3;
  color: #dbedf3;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #00818a;
}

nav {
  background-color: #283149;
}

#mobile-nav {
  background-color: #dbedf3;
}