body {
  background-color: lightslategray;
  color: #dbedf3;
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #00818a;
}

nav {
  background-color: #283149;
}

a, a:hover {
  text-decoration: none;
}

#mobile-nav {
  background-color: #dbedf3;
}

.sandybrown-text {
  color: sandybrown;
}

.save-text {
  color: #FFFFFF;
}

.save-text:hover {
  color: #028677;
}

.view-text {
  color: #FFFFFF;
}

.view-text:hover {
  color: rgb(89, 0, 255);
}

.delete-text {
  color: #FFFFFF;
}

.delete-text:hover {
  color: red;
}

.toast-whitetext {
  color: white;
}

.book-image {
  max-width: 125px;
}

.book-image:hover {
  border-radius: 10px;
  opacity: 1;
  transform: scale(1.2);
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
}
